.content__title {
  margin: 35px 0;
}
.container--cart .content__title {
  margin: 0;
}
.cart .content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 32px;
}
.cart .content__title svg {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.cart .content__title svg path {
  stroke: #232323;
  stroke-width: 1.9;
}
.content__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.content__items_less{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 1500px) {
  .content__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .content__items_less{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 1150px) {
  .content__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .content__items_less{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .content__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}